@import "~bootstrap/dist/css/bootstrap.css";
$gray: #ccc;
$title_color: #f60;
.field{
	&__label{
		font-weight:bold;
		display:block
	}
}

.product{
	&__title{
		color: $title_color
	}
	&__added{
		font-size: 0.6rem ;
	}
	&__item, &__list{
		border: 1px solid $gray;
		margin: 1rem;
		padding:1rem;
		border-radius: 6px;
	}
}